<div class="container">

 <mat-toolbar class="custom-toolbar">
  <button
   matButton
   class="btn-rojo"
   aria-label="Example icon-button with menu icon"
   [matMenuTriggerFor]="menuCurso"
  >
  <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home"></mat-icon>
  Categoria
  </button>
 </mat-toolbar>

 <mat-menu #menuCurso="matMenu">
  <button mat-menu-item routerLink="categories/new"><mat-icon>add</mat-icon>Registrar</button>
  <button mat-menu-item routerLink="categories"><mat-icon>list</mat-icon>Lista</button>
 </mat-menu>

  <mat-toolbar class="custom-toolbar">
  <button
   matButton
   class="btn-rojo"
   aria-label="Example icon-button with menu icon"
   [matMenuTriggerFor]="menuUsuario"
  >
  <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home"></mat-icon>
  Usuario
  </button>
 </mat-toolbar>
  <mat-menu #menuUsuario="matMenu">
        <button mat-menu-item routerLink="/usuario/news"><mat-icon>add</mat-icon>Registrar</button>
        <button mat-menu-item routerLink="/usuario/lista"><mat-icon>list</mat-icon>Lista</button>
    </mat-menu>

</div>