<div class="container">
    <div style="text-align: center; margin: 2%">
        <h2>Actualizar Restaurante</h2>
    </div>

    <div style="text-align: center; margin: 3%">
        <form [formGroup]="form" (ngSubmit)="aceptar()" class="example-form">

            <!-- ID -->
            <mat-form-field class="example-full-width">
                <mat-label>ID</mat-label>
                <input matInput formControlName="codigo" readonly />
            </mat-form-field>

            <br />

            <!-- Nombre -->
            <mat-form-field class="example-full-width">
                <mat-label>Nombre</mat-label>
                <input matInput formControlName="nombre" />

                <mat-error>
                    @if (form.get('nombre')?.hasError('required')) {
                    El nombre es obligatorio.
                    }

                    @if (form.get('nombre')?.hasError('maxlength')) {
                    Máximo 100 caracteres.
                    }
                </mat-error>
            </mat-form-field>

            <br />

            <!-- Dirección -->
            <mat-form-field class="example-full-width">
                <mat-label>Dirección</mat-label>
                <input matInput formControlName="correo" />

                <mat-error>
                    @if (form.get('correo')?.hasError('required')) {
                    La dirección es obligatoria.
                    }

                    @if (form.get('correo')?.hasError('email')) {
                    Formato inválido.
                    }

                    @if (form.get('correo')?.hasError('maxlength')) {
                    Máximo 100 caracteres.
                    }
                </mat-error>
            </mat-form-field>

            <br />

            <!-- Rating -->
            <mat-form-field class="example-full-width">
                <mat-label>Rating Promedio</mat-label>
                <input matInput type="number" formControlName="ratingprom" />

                <mat-error>
                    @if (form.get('ratingprom')?.hasError('required')) {
                    El rating es obligatorio.
                    }

                    @if (form.get('ratingprom')?.hasError('min')) {
                    El rating debe ser mayor o igual a 0.
                    }

                    @if (form.get('ratingprom')?.hasError('max')) {
                    El rating debe ser menor o igual a 5.
                    }
                </mat-error>
            </mat-form-field>

            <br />

            <!-- Web URL -->
            <mat-form-field class="example-full-width">
                <mat-label>Página Web</mat-label>
                <input matInput formControlName="url" />

                <mat-error>
                    @if (form.get('url')?.hasError('required')) {
                    La URL es obligatoria.
                    }

                    @if (form.get('url')?.hasError('maxlength')) {
                    Máximo 255 caracteres.
                    }
                </mat-error>
            </mat-form-field>

            <br />

            <!-- Google Maps -->
            <mat-form-field class="example-full-width">
                <mat-label>Google Maps URL</mat-label>
                <input matInput formControlName="googlemapsurl" />

                <mat-error>
                    @if (form.get('googlemapsurl')?.hasError('required')) {
                    La URL de Google Maps es obligatoria.
                    }

                    @if (form.get('googlemapsurl')?.hasError('maxlength')) {
                    Máximo 500 caracteres.
                    }
                </mat-error>
            </mat-form-field>

            <br />

            <!-- Latitud -->
            <mat-form-field class="example-full-width">
                <mat-label>Latitud</mat-label>
                <input matInput type="number" formControlName="latitud" />

                <mat-error>
                    @if (form.get('latitud')?.hasError('required')) {
                    La latitud es obligatoria.
                    }

                    @if (form.get('latitud')?.hasError('min')) {
                    Debe ser mayor o igual a -90.
                    }

                    @if (form.get('latitud')?.hasError('max')) {
                    Debe ser menor o igual a 90.
                    }
                </mat-error>
            </mat-form-field>

            <br />

            <!-- Longitud -->
            <mat-form-field class="example-full-width">
                <mat-label>Longitud</mat-label>
                <input matInput type="number" formControlName="longitud" />

                <mat-error>
                    @if (form.get('longitud')?.hasError('required')) {
                    La longitud es obligatoria.
                    }

                    @if (form.get('longitud')?.hasError('min')) {
                    Debe ser mayor o igual a -180.
                    }

                    @if (form.get('longitud')?.hasError('max')) {
                    Debe ser menor o igual a 180.
                    }
                </mat-error>
            </mat-form-field>

            <br />

            <!-- Categoría -->
            <mat-form-field class="example-full-width">
                <mat-label>Categoría</mat-label>
                <input matInput formControlName="nombrecategoria" />

                <mat-error>
                    @if (form.get('nombrecategoria')?.hasError('required')) {
                    La categoría es obligatoria.
                    }

                    @if (form.get('nombrecategoria')?.hasError('maxlength')) {
                    Máximo 50 caracteres.
                    }
                </mat-error>
            </mat-form-field>

            <br />

            <div>
                <button matButton="elevated" color="primary">
                    Actualizar
                </button>
            </div>

        </form>
    </div>
</div>